[Desktop Entry]
Name=Fresh
GenericName=IDE
Comment=Edit code projects in the terminal
Icon=fresh
Type=Application
Categories=Utility;TextEditor;Development;
Keywords=text;editor;syntax;terminal;
Exec=kitty fresh %F
StartupNotify=false
Terminal=false
