workspace "personal" {
    open-on-output "Samsung Display Corp. 0x419F Unknown"
}
workspace "work" {
    open-on-output "Dell Inc. DELL P3222QE D135T83"
}
workspace "coding" {
    open-on-output "Dell Inc. DELL P3222QE D135T83"
}

spawn-at-startup "flatpak" "run" "com.plexamp.Plexamp"
spawn-at-startup "google-chrome-stable" "--app=https://fb.workplace.com"
spawn-at-startup "google-chrome-stable" "--profile-directory=Default" "--app-id=pommaclcbfghclhalboakcipcmmndhcj"
spawn-at-startup "google-chrome-stable" "--profile-directory=Default" "--app-id=gihbagcjamhppndmlkgmccomodfodggj"
spawn-at-startup "code-fb"
spawn-at-startup "sh" "-c" "exec $HOME/.local/bin/niri-work-layout"

window-rule {
    match app-id="plexamp"
    open-on-workspace "personal"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id="chrome-hfmgjhflhflcobjffcknlgaphippkmmd-Default"
    open-on-workspace "personal"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id="chrome-fb.workplace.com__-Default"
    open-on-workspace "work"
}
window-rule {
    match app-id="chrome-pommaclcbfghclhalboakcipcmmndhcj-Default"
    open-on-workspace "work"
}
window-rule {
    match app-id="chrome-gihbagcjamhppndmlkgmccomodfodggj-Default"
    open-on-workspace "work"
}
window-rule {
    match app-id="code-fb"
    open-on-workspace "coding"
}
