[Desktop Entry]
Type=Application
Name=Chromium (new window)
Icon=io.github.ungoogled_software.ungoogled_chromium
Exec=flatpak run io.github.ungoogled_software.ungoogled_chromium --new-window %U
Terminal=false
NoDisplay=true
StartupNotify=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
