[Desktop Entry]
Type=Application
Name=Workplace
Exec=google-chrome-stable https://fb.workplace.com
Icon=chrome-hondjlkedhnofcgbhifciodpdjfnonjm-Default
Terminal=false
